%h1 Images
%table
  %thead
    %tr
      %th video
    %tbody
    - @videos.each do |video|
      %tr
      %td= video_tag video.attachment
      %td= video.word.wordform
      %td= video.revision
%br/
= link_to "New Video", word_videos_path
